@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);

    --neutral-vv-blue: hsl(220, 13%, 13%);
    --neutral-grayish-blue: hsl(219, 9%, 45%);
    --neutral-light-gray-blue: hsl(223, 64%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-black: hsl(0, 0%, 0%);  

    --footer-color: hsl(228, 45%, 44%);

    --primary-fs: 1rem;

    --primary-ff: 'Kumbh Sans', sans-serif;

    --primary-fw-400: 400;
    --primary-fw-700: 700;

    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--primary-fs);
    font-family: var(--primary-ff);

}

/* Footer */

.attribution{
    font-size: 0.688rem;
    text-align: center;
}
.attribution a{
    color: var(--footer-color);
}